@using Academy.Resources
<h2>@Localization.GetString("about")</h2>
<p>@Localization.GetString("about.p1")</p>
<p>@Localization.GetString("about.p2")</p>
<p>@Localization.GetString("about.p3")</p>
<p>@Localization.GetString("about.p4")</p>
<p>@Localization.GetString("about.p5")</p>
<p>@Localization.GetString("about.p6")</p>
<p>@Localization.GetString("about.p7")</p>
<p>@Localization.GetString("about.p8")</p>
<p>@Localization.GetString("about.p9")</p>