@using System.Web.Optimization
@using Academy.Resources

@model Academy.Presentation.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/External.cshtml";
}
@{
    Html.EnableClientValidation(true);
}

<div class="span7">
    <div style="height: 100px;">
        <h1>@Localization.GetString("welcome")</h1>
    </div>
    <div id="flash">
        <img src="../../Content/Images/@Localization.GetString("animation")"/>
    </div>
    @*<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="500" height="400">
        <param name="movie" value="../../Content/images/@Localization.GetString("banner")" />
        <object type="application/x-shockwave-flash" data="../../Content/images/@Localization.GetString("banner")" width="500" height="400">
            <img src="../../Content/images/@Localization.GetString("banner.static")" width="500" height="400" alt="Alternative image" />
        </object>
    </object>*@
</div>

<div class="pull-right">
    @using (Html.BeginForm(
        "Login",
        "Account",
        FormMethod.Post,
        new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("LoginEditor")
    }
    <div class="page-header" style="text-align: right">
        <b>@Localization.GetString("registration.lbl.register")</b>
    </div>
    @using (Html.BeginForm(
        "Register",
        "Account",
        FormMethod.Post,
        new { @class = "form-inline pull-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("RegistrationEditor")
    }
</div>

@section Scripts {
    <script type="text/javascript" src="../../Scripts/jquery.unobtrusive-ajax.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="../../Scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="../../Scripts/tree.js"></script>
    <script type="text/javascript" src="../../Scripts/swfobject.js"></script>
}
