@using System.Web.Optimization

@model Academy.Presentation.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/External.cshtml";
}
@{
    Html.EnableClientValidation(true);
}
<div class="pull-right">
    @using (Html.BeginForm(
        "Login",
        "Account",
        FormMethod.Post,
        new { @class = "form-inline" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("LoginEditor")
    }
    @using (Html.BeginForm(
        "Register",
        "Account",
        FormMethod.Post,
        new { @class = "form-inline pull-right" }))
    {
        @Html.AntiForgeryToken()
        @Html.EditorForModel("RegistrationEditor")
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
