@using Academy.Presentation.ViewModels
@model Academy.Presentation.ViewModels.ArticleViewModel

@{
    const string addCommentText = "Add comment";
    var addCommentId = String.Format("addCommentFor{0}", Model.Id);
    const string showCommentsText = "Show comments";
    var showCommentsId = String.Format("showCommentsFor{0}", Model.Id);
    var commentTemplate = new CommentViewModel {ArticleId = Model.Id};
    var newCommentId = String.Format("newCommentFor{0}", Model.Id);
    var commentsId = String.Format("commentsFor{0}", Model.Id);
}

<div class="text-block">
    <div class="text-block-header">
        <h4>@Model.Title</h4>
    </div>
    <div class="text-block-sub-header">
        @foreach (var author in Model.Authors)
        {
            <h6>@String.Format("{0} {1} {2}", author.Email, author.FirstName, author.LastName)</h6>
        }
    </div>
    <div class="text-block-body">
        @Model.Description
    </div>
    <div class="text-block-footer">
        <b>Disciplines</b>:
        @foreach (var discipline in Model.Disciplines)
        {
            <span class="label font-small">@discipline.Name</span>
        }
        <div class="pull-right">
            <button class="btn btn-mini btn-primary" id="@addCommentId">@addCommentText</button>
            <button class="btn btn-mini" id="@showCommentsId">@showCommentsText</button>
        </div>
    </div>
</div>
<div id="@newCommentId" class="text-block hide">
    <div class="text-block-body">
        @{Html.RenderPartial("Forms/CommentArticleForm", commentTemplate);}
        @*@{
            using (Html.BeginForm(
                "CommentArticle",
                "Article",
                FormMethod.Post,
                new { id = String.Format("commentFormFor{0}", Model.Id) }))
            {
                Html.RenderPartial(
                    "EditorTemplates/CreateCommentEditor",
                    commentTemplate);
            }
        }*@
    </div>
</div>
<div id="@commentsId" class="hide">
    @{ Html.RenderPartial("RenderTemplates/CommentsView", Model); }
</div>

<script type="text/javascript">
    $(function () {
        $('#@addCommentId').click(function () {
            $('#@newCommentId').slideToggle('fast');
        });
        $('#@showCommentsId').click(function () {
            $('#@commentsId').slideToggle('fast');
        });
    })
</script>
