@model Academy.Presentation.ViewModels.CommentViewModel

@{
    var removeId = String.Format("removeComment{0}", Model.Id);
    var removeText = "Remove comment";
    var commentId = String.Format("comment{0}", Model.Id);
    var postedText = "Posted: ";
}

<div id="@commentId">
    <span class="label">
        @String.Format("{0} {1} {2}", Model.Author.Email, Model.Author.FirstName, Model.Author.LastName)
    </span>
    @*<span class="label pull-right">@Model.PostedDate</span>*@
    <div class="text-block">
        <div class="text-block-body">
            @Model.Text
        </div>
        <div class="text-block-footer">
            <b>@postedText</b>@Model.PostedDate
            @if (User.IsInRole("Admin"))
            {
                <div class="pull-right">
                    <button class="btn btn-mini btn-danger" id="@removeId">
                        @removeText
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('#@removeId').click(function () {
            $.ajax({
                url: '@Url.Action("RemoveComment", "Article", new {id = Model.Id})',
                type: 'post',
                success: function() {
                    $('#@commentId').remove();
                }
            });
        });
    });
</script>