@using Academy.Resources
@model Academy.Presentation.ViewModels.NoteViewModel

@{
    var removeNoteText = Localization.GetString("remove.note");
    var removeNoteId = String.Format("removeNote{0}", Model.Id);
    var postedText = Localization.GetString("posted");
}

<div class="text-block">
    <div class="text-block-header">
        <h4>@Model.Title</h4>
    </div>
    <div class="text-block-body">
        @Model.Text
    </div>
    <div class="text-block-footer">
        <b>@postedText: </b>
        @Model.PostedDate
        <button class="btn btn-small btn-danger pull-right" id="@removeNoteId">@removeNoteText</button>
    </div>
</div>

@*<script type="text/javascript">
    $(function() {
        $('#@removeNoteId').click(function() {
            $.ajax({
                url: '@Url.Action("RemoveNote", "Note", new {noteId = Model.Id})',
                type: 'post',
                success: function(result) {
                    $('#data').html(result);
                }
            });
            return false;
        });
    })
</script>*@
