@using Academy.Presentation.ViewModels
@model IPostViewModel

@{
    var id = String.Format("post{0}", Model.Id);
    var postedText = "Posted: ";
}

<div id="@id">
    <span class="label">
        @RenderSection("Author")
    </span>
    <div class="text-block">
        <div class="text-block-body">
            @Model.Text
        </div>
        <div class="text-block-footer">
            <b>@postedText</b>@Model.PostedDate
            @RenderSection("Buttons")
        </div>
    </div>
</div>