@using Academy.Presentation.ViewModels
@model IPostViewModel

@{
    var removeId = String.Format("removePost{0}", Model.Id);
    var removeText = "Remove";
    var id = String.Format("post{0}", Model.Id);
    var postedText = "Posted: ";
}

<div id="@id">
    <span class="label">
        @RenderSection("Author")
        @*@String.Format("{0} {1} {2}", Model.Author.Email, Model.Author.FirstName, Model.Author.LastName)*@
    </span>
    <div class="text-block">
        <div class="text-block-body">
            @Model.Text
        </div>
        <div class="text-block-footer">
            <b>@postedText</b>@Model.PostedDate
            @RenderSection("Buttons")
            @*@if (User.IsInRole("Admin"))
            {
                <div class="pull-right">
                    <button class="btn btn-mini btn-danger" id="@removeId">
                        @removeText
                    </button>
                </div>
            }*@
        </div>
    </div>
</div>