@model Academy.Presentation.ViewModels.QuestionViewModel

@{
    var addAnswerId = String.Format("addAnswerFor{0}", Model.Id);
    var showAnswersId = String.Format("showAnswersFor{0}", Model.Id);
    var fullUserName = String.Format(
        "{0} {1} {2}",
        Model.Author.Email,
        Model.Author.FirstName,
        Model.Author.LastName);
}

<div class="text-block">
    <div class="page-header">
        <span class="label">
            @fullUserName
        </span>
        <span class="label pull-right">@Model.PostedDate</span>
    </div>
    <div class="text-block-header">
        <h4>@Model.Title</h4>
    </div>
    <div class="text-block-body">
        @Model.Text
    </div>
    <div class="text-block-footer">
        <b>Disciplines</b>:
        @foreach (var discipline in Model.Disciplines)
        {
            <span class="label font-small">@discipline.Name</span>
        }
        <div class="pull-right">
            <button class="btn btn-mini btn-primary" id="@addAnswerId">Add answer</button>
            <button class="btn btn-mini" id="@showAnswersId">Show answers</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#@addAnswerId').click(function () {
            
        });
    })
</script>