@using Academy.Presentation.ViewModels
@using Academy.Resources
@model Academy.Presentation.ViewModels.QuestionViewModel

@{
    Layout = "TitledPostView.cshtml";
}

@{
    var answersId = String.Format("answersFor{0}", Model.Id);
    var newAnswerId = String.Format("newAnswerFor{0}", Model.Id);
    var addAnswerText = Localization.GetString("answer.add");
    var addAnswerId = String.Format("addAnswerFor{0}", Model.Id);
    var showAnswersId = String.Format("showAnswersFor{0}", Model.Id);
    var showAnswersText = Localization.GetString("answers.show");
    var fullUserName = String.Format(
        "{0} {1} {2}",
        Model.Author.Email,
        Model.Author.FirstName,
        Model.Author.LastName);
    var answerTemplate = new AnswerViewModel()
        {
            QuestionId = Model.Id
        };
    var removeText = Localization.GetString("remove");
    var removeId = String.Format("removeQuestion{0}", Model.Id);
}

@section Authors
{
    <h6>@fullUserName</h6>
}

@section Disciplines
{
    <b>@Localization.GetString("disciplines"): </b>
    @foreach (var discipline in Model.Disciplines)
    {
        <span class="label font-small">@discipline.Name</span>
    }
}

@section Buttons
{
    @if (User.IsInRole("Admin"))
    {
        <button class="btn btn-mini btn-danger" id="@removeId">
            @removeText
        </button>
    }
    @if (Request.IsAuthenticated)
    {
        <button class="btn btn-mini btn-primary" id="@addAnswerId">
            @addAnswerText
        </button>
    }
    <button class="btn btn-mini" id="@showAnswersId">
        @showAnswersText
    </button>
}

@section Footer
{
    <div id="@newAnswerId" class="text-block hide">
        <div class="text-block-body">
            @{
                Html.RenderPartial("Forms/AddAnswerForm", answerTemplate);
            }
        </div>
    </div>
    <div id="@answersId" class="hide" />
}
