@using Academy.Resources
@model Academy.Presentation.ViewModels.AnswerViewModel
@{
    Layout = "SinglePostView.cshtml";
}
@{
    var questionAreaId = String.Format("questionFor{0}", Model.Id);
    var parentQuestionId = String.Format("question{0}", Model.Question.Id);
    var showQuestionId = String.Format("showQuestionFor{0}", Model.Id);
    var showQuestionText = Localization.GetString("question.show");
}
@section Authors
{
    @String.Format(
        "{0} {1} {2}",
        Model.Author.Email,
        Model.Author.FirstName,
        Model.Author.LastName)
}
@section ParentInfo
{
    @Model.Question.Title
}
@section Buttons
{
    <button class="btn btn-mini btn-primary" id="@showQuestionId">@showQuestionText</button>
}
@section Footer
{
    <div id="@questionAreaId">
        <div id="@parentQuestionId" class="hide" />
    </div>
}