@using Academy.Resources
@model Academy.Presentation.ViewModels.CommentViewModel
@{
    Layout = "SinglePostView.cshtml";
}
@{
    var showArticleText = Localization.GetString("article.show");
    var showArticleId = String.Format("showArticleFor{0}", Model.Id);
    var articleAreaId = String.Format("articleFor{0}", Model.Id);
    var parentArticleId = String.Format("article{0}", Model.ArticleId);
}
@section Authors
{
    @String.Format(
        "{0} {1} {2}",
        Model.Author.Email,
        Model.Author.FirstName,
        Model.Author.LastName)
}
@section ParentInfo
{
    @Model.Article.Title
}
@section Buttons
{
    <button class="btn btn-mini btn-primary" id="@showArticleId">@showArticleText</button>
}
@section Footer
{
    <div id="@articleAreaId">
        <div id="@parentArticleId" class="hide" />
    </div>
}