@using Academy.Presentation.ViewModels
@using Academy.Resources
@model IPostViewModel

@{
    var postedText = Localization.GetString("posted");
}

<div>
    <span class="label">
        @RenderSection("Authors")
    </span>
    <div class="text-block">
        <div class="text-block-body">
            @Model.Text
        </div>
        <div class="text-block-footer">
            <span class="label">@RenderSection("ParentInfo")</span>
            <br/>
            <b>@postedText: </b>@Model.PostedDate
            <div class="pull-right">
                @RenderSection("Buttons")
            </div>
        </div>
    </div>
</div>
@RenderSection("Footer")