@using Academy.Resources
@model Academy.Presentation.ViewModels.UserViewModel

@{
    var newArticlesText = Localization.GetString("profile.newarticles");
    var newCommentsText = Localization.GetString("profile.newcomments");
    var newQuestionsText = Localization.GetString("profile.newquestions");
    var newAnswersText = Localization.GetString("profile.newanswers");
    var myArticlesText = Localization.GetString("profile.myarticles");
    var myQuestionsText = Localization.GetString("prifile.myquestions");
    var myCommentsText = Localization.GetString("profile.mycomment");
    var myAnswersText = Localization.GetString("profile.myanswers");
}

<div id="user">
    <div class="control-group">
        <ul class="thumbnails">
            <li class="span3">
                <div class="thumbnail">
                    <img src="/Resources/Users/@Model.PhotoFileName" alt="No photo available"/>
                </div>
            </li>
        </ul>
        <a href="#/NewArticles" id="newArticlesSideMenu" class="btn btn-block">@newArticlesText</a>
        <a href="#/NewComments" id="newCommentsSideMenu" class="btn btn-block">@newCommentsText</a>
        <a href="#/NewQuestions" id="newQuestionsSideMenu" class="btn btn-block">@newQuestionsText</a>
        <a href="#/NewAnswers" id="newAnswersSideMenu" class="btn btn-block">@newAnswersText</a>
        <div class="page-header">
        </div>
        <a href="#/Articles" id="myArticlesSideMenu" class="btn btn-block">@myArticlesText</a>
        <a href="#/Comments" id="myCommentsSideMenu" class="btn btn-block">@myCommentsText</a>
        <a href="#/Questions" id="myQuestionsSideMenu" class="btn btn-block">@myQuestionsText</a>
        <a href="#/Answers" id="myAnswersSideMenu" class="btn btn-block">@myAnswersText</a>
    </div>
</div>
