@using Academy.Presentation.Utils
@using Academy.Resources
@model Academy.Presentation.ViewModels.HomeViewModel

@using (Html.BeginForm(
    "Register",
    "Account",
    FormMethod.Post,
    new {@class = "form-inline pull-right"}))
{
    @Html.AntiForgeryToken()
    <p>@Localization.GetString("home.reg.lbl.register")</p>
    <p>
        @Html.TextBoxFor(
            m => m.Registration.Email,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.Email),
                    @class = "input-over-date"
                })
        @Html.ValidationMessageFor(m => m.Registration.Email)
    </p>
    <p>
        @Html.PasswordFor(
            m => m.Registration.Password,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.Password),
                    @class = "input-over-date"
                })
        @Html.ValidationMessageFor(m => m.Registration.Password)
    </p>
    <p>
        @Html.PasswordFor(
            m => m.Registration.PasswordConfirmation,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.PasswordConfirmation),
                    @class = "input-over-date"
                })
        @Html.ValidationMessageFor(m => m.Registration.PasswordConfirmation)
    </p>
    <p>
        @Html.TextBoxFor(
            m => m.Registration.FirstName,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.FirstName),
                    @class = "input-over-date"
                })
        @Html.ValidationMessageFor(m => m.Registration.FirstName)
    </p>
    <p>
        @Html.TextBoxFor(
            m => m.Registration.LastName,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.LastName),
                    @class = "input-over-date"
                })
        @Html.ValidationMessageFor(m => m.Registration.LastName)
    </p>
    <p>
        @Html.TextBoxFor(
            m => m.Registration.University,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Registration.University),
                    @class = "input-over-date"
                })
        <p>
            @Html.ValidationMessageFor(m => m.Registration.University)
        </p>
    </p>
    <p>
        @Html.LabelFor(m => m.Registration.BirthDate)
        <br />
        @Html.DropDownListFor(
            m => m.Registration.BirthDate.Day,
            new SelectList(Date.Days),
            new {@class = "select-day"})
        @Html.DropDownListFor(
            m => m.Registration.BirthDate.Month,
            new SelectList(Date.Months, "Number", "Name"),
            new {@class = "select-month"})
        @Html.DropDownListFor(
            m => m.Registration.BirthDate.Year,
            new SelectList(Date.Years),
            new {@class = "select-year"})
    </p>
    <p>
        <input type="submit" value="@Localization.GetString("home.reg.btn.register")" class="btn" />
    </p>
}