@using System.Web.Optimization
@using Academy.Resources

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/sammy")
    @Scripts.Render("~/bundles/AnonymousNavigation")
    @RenderSection("headScripts", false)
</head>
    <body>
        <div class="wrapper">
            <div class="row">
                <h1>
                    <a class="title" href="/">
                        <img src="../../Content/images/@Localization.GetString("logo")"/>
                    </a>
                </h1>
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav pull-right" id="mainMenu">
                            <li class="divider-vertical">
                                <a href="#/SearchArticles">@Localization.GetString("mainmenu.articles")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/SearchQuestions">@Localization.GetString("mainmenu.questions")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/Contacts">@Localization.GetString("mainmenu.contacts")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/About">@Localization.GetString("mainmenu.about")</a>
                            </li>
                            <li class="divider-vertical dropdown">
                                @{ Html.RenderPartial("Languages"); }
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="body" class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="footer">
            <p>
                <a href="#/Contacts">@Localization.GetString("external.menu.contacts")</a> | 
                <a href="#/About">@Localization.GetString("external.menu.about")</a> | 
                @Localization.GetString("copyright")
            </p>
        </div>
        @Scripts.Render("~/bundles/bootstrap-dropdown")
        @Scripts.Render("~/bundles/MainMenu")
        @RenderSection("scripts", false)
    </body>
</html>
