@using System.Web.Optimization
@using Academy.Resources

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localization.GetString("title.home")</title>
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="../../Scripts/sammy.js"></script>
    <script type="text/javascript" src="../../Scripts/MainMenu.js"></script>
    <script type="text/javascript" src="../../Scripts/AnonymousNavigation.js"></script>
    @RenderSection("scripts", false)
</head>
    <body>
        <div class="wrapper">
            <div class="row">
                <h1>
                    <img src="../../Content/images/@Localization.GetString("logo")" alt="@Localization.GetString("logo.text")"/>
                </h1>
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav pull-right" id="mainMenu">
                            <li class="divider-vertical">
                                <a href="/">@Localization.GetString("home")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/SearchArticles">@Localization.GetString("mainmenu.articles")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/SearchQuestions">@Localization.GetString("mainmenu.questions")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/Contacts">@Localization.GetString("mainmenu.contacts")</a>
                            </li>
                            <li class="divider-vertical">
                                <a href="#/About">@Localization.GetString("mainmenu.about")</a>
                            </li>
                            <li class="divider-vertical dropdown">
                                @{ Html.RenderPartial("Languages"); }
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="body" class="content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="footer">
            <p>
                <a href="#/Contacts">@Localization.GetString("external.menu.contacts")</a> | 
                <a href="#/About">@Localization.GetString("external.menu.about")</a> | 
                @Localization.GetString("copyright")
            </p>
        </div>
    </body>
</html>
