@using System.Web.Optimization
@using Academy.Resources
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Localization.GetString("title.profile")</title>
    @Styles.Render("~/Content/css")
    @RenderSection("styles", false)
    <script type="text/javascript" src="../../Scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../../Scripts/sammy.js"></script>
    <script type="text/javascript" src="../../Scripts/UserNavigation.js"></script>
    <script type="text/javascript" src="../../Scripts/MainMenu.js"></script>
    <script type="text/javascript" src="../../Scripts/SideMenu.js"></script>
    @RenderSection("scripts", false)
</head>
<body>
    <div class="wrapper">
        <div class="row">
            <h1>
                <img src="../../Content/images/@Localization.GetString("logo")"/>
            </h1>
            <div class="navbar">
                <div class="navbar-inner">
                    @RenderSection("UserName", false)
                    <ul class="nav pull-right" id="mainMenu">
                        <li class="divider-vertical">
                            <a href="#/Edit">@Localization.GetString("internal.menu.profile")</a>
                        </li>
                        <li class="divider-vertical">
                            <a href="#/SearchArticles">@Localization.GetString("internal.menu.articles")</a>
                        </li>
                        <li class="divider-vertical">
                            <a href="#/SearchQuestions">@Localization.GetString("internal.menu.questions")</a>
                        </li>
                        <li class="divider-vertical">
                            @Html.ActionLink(Localization.GetString("internal.menu.exit"), "Logout", "Account")
                        </li>
                    </ul>
                </div>
            </div>
            <div id="body" class="content">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="footer">
        <p>
            <a href="#/Contacts">@Localization.GetString("external.menu.contacts")</a> | 
            <a href="#/About">@Localization.GetString("external.menu.about")</a> | 
            @Localization.GetString("copyright")
        </p>
    </div>
</body>
</html>
