@using Academy.Presentation.ViewModels
@using Academy.Presentation.Views.Helpers
@using Academy.Resources

@model ArticleViewModel

@*TODO: refactor hardcoded style*@

@{
    string selectDisciplinesText =
        Localization.GetString("article.create.select.disciplines");
    string selectDisciplinesHeader =
        Localization.GetString("article.create.select.article.disciplines");
    string addAuthorText =
        Localization.GetString("article.create.add.author");
    string publishText = Localization.GetString("publish");
}

<div class="control-group">
    @Html.TextBoxFor(m => m.Title, new
        {
            @class = "full-block",
            style = "height: 30px; font-size: 12pt",
            placeholder = Html.DisplayNameFor(m => m.Title)
        })
    @Html.ValidationMessageFor(m => m.Title)
</div>

<div class="control-group">
    @Html.TextAreaFor(m => m.Text, new
        {
            @class = "full-block fixed-size pre-scrollable",
            style = "height: 100px; font-size:12pt",
            placeholder = Html.DisplayNameFor(m => m.Text)
        })
    @Html.ValidationMessageFor(m => m.Text)
</div>

<div class="control-group">
    <a href="#selectDisciplines" role="button" class="btn pull-right" data-toggle="modal">@selectDisciplinesText</a>
    <input type="file" id="ArticleFile" name="ArticleFile"/>
    <input type="text" id="Souce" name="Source" value="" style="display: none"/>
    @Html.ValidationMessageFor(m => m.Source)
</div>

<div id="selectDisciplines" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">@selectDisciplinesHeader</h3>
    </div>
    <div class="modal-body">
        @Html.DisciplinesTreeFor("Disciplines", (IEnumerable<DisciplineViewModel>)ViewBag.Disciplines)
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">
            @Localization.GetString("article.create.modal.select")
        </button>
    </div>
</div>

<div class="control-group">
    <div id="authors">
        @foreach (var author in Model.Authors)
        {
            Html.RenderPartial("EditorTemplates/CreateAuthorEditor", author);
        }
    </div>
    <a href="@Url.Action("AddAuthor", "Article")" id="addAuthor" class="btn">@addAuthorText</a>
</div>

<input type="submit" value="Publish" id="publish" class="btn btn-primary pull-right disabled" />

<script type="text/javascript">
    $(function () {
        $('#ArticleFile').uploadify({
            'height': 20,
            'width': 65,
            'removeCompleted': false,
            'multi': false,
            'fileTypeExts' : '*.pdf',
            'buttonClass': 'btn',
            'buttonText': 'Select file',
            'fileObjName': 'file',
            'hideButton': false,
            'swf': "@Url.Content("~/Content/Images/uploadify.swf")",
            'uploader': "@Url.Action("Upload", "Article")",
            'onUploadSuccess': function (file, data, response) {
                $('#publish').removeClass('disabled');
                $('#Souce').val(file.name);
            }
        });
        $('#addAuthor').click(function() {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) {
                    $('#authors').append(html);
                }
            });
            return false;
        });
        $('body').on('click', 'a.author-delete', null, function () {
            $(this).parents('p').remove();
            return false;
        });
    });
</script>
