@using Academy.Resources

@model Academy.Presentation.ViewModels.HomeViewModel

<p>@Localization.GetString("home.login.lbl.signin")</p>
<p>
    @Html.TextBoxFor(
            m => m.Login.Email,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Login.Email),
                    @class = "input-medium"
                })
    @Html.PasswordFor(
            m => m.Login.Password,
            new
                {
                    @placeholder = @Html.DisplayNameFor(m => m.Login.Password),
                    @class = "input-medium"
                })
    <input type="submit" value="@Localization.GetString("login.submit")" class="btn" />
</p>
<p>
    @Html.ValidationMessageFor(m => m.Login.Email)
    @Html.ValidationMessageFor(m => m.Login.Password)
    @Html.ValidationSummary(false)
</p>
<p>
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.Login.RememberMe)
        @Html.DisplayNameFor(m => m.Login.RememberMe)
    </label>
</p>
